@charset "utf-8";
/* CSS Document */

/* Color Theme Swatches in Hex */
.lago-1 { color: #00040D; }
.lago-2 { color: #023059; }
.lago-3 { color: #0378A6; }
.lago-4 { color: #0388A6; }
.lago-5 { color: #F2784B; }

/* Color Theme Swatches in Hex */
.IC3-1 { color: #BF365A; }
.IC3-2 { color: #B4B9D9; }
.IC3-3 { color: #033E8C; }
.IC3-4 { color: #023373; }
.IC3-5 { color: #011C26; }

/* Color Theme Swatches in Hex */
.Denim-1 { color: #404E70; }
.Denim-2 { color: #D3DCF2; }
.Denim-3 { color: #89A7F0; }
.Denim-4 { color: #626670; }
.Denim-5 { color: #6C83BD; }

/* Color Theme Swatches in Hex */
.Purple-1 { color: #452275; }
.Purple-2 { color: #BC91F7; }
.Purple-3 { color: #9048F5; }
.Purple-4 { color: #594575; }
.Purple-5 { color: #7238C2; }

/* Color Theme Swatches in Hex */
.Beach-1 { color: #BF2C47; }
.Beach-2 { color: #F22E62; }
.Beach-3 { color: #1B80BF; }
.Beach-4 { color: #1EA4D9; }
.Beach-5 { color: #77BDD9; }

/* Color Theme Swatches in Hex */
.Nightlife-1 { color: #F20574; }
.Nightlife-2 { color: #730237; }
.Nightlife-3 { color: #D9048E; }
.Nightlife-4 { color: #011640; }
.Nightlife-5 { color: #035AA6; }

/* Color Theme Swatches in Hex */
.Westward-1 { color: #BF0413; }
.Westward-2 { color: #00040D; }
.Westward-3 { color: #0396A6; }
.Westward-4 { color: #02733E; }
.Westward-5 { color: #F21B07; }
